html{
    font-size: 15px;
    background-color: black;
    /*user-select: none !important;*/
}


/****************    FUENTES    ****************/
@font-face {
    src: url(resources/fonts/FugazOne-Regular.ttf);
    font-family: 'FugazOne-Regular';
}
.FugazOne-Regular {
    font-family: 'FugazOne-Regular'
}

/*---------------    FUENTES    ---------------*/

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #0d2436;*/
    /*background-color: #020617;*/
    background-color: #00051d;
    z-index: -1;
}

body{
    color: white;
    font-family: 'FugazOne-Regular';
    /*font-family: Lato, system-ui, sans serif;*/
    font-weight: normal;
}

body h1{
    font-size: 20px;
    margin: 0px;
    font-weight: normal;
}

body h2{
    font-size: 16px;
    margin: 0px;
    font-weight: normal;
}

body a{
    text-decoration: none;
    color:inherit;
}

body svg{
    width: auto;
    height: auto;
}



body ul{
    padding: 0px;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #07112c8a;
    border-radius: 25px;
    height: 30px;
    width: 560px;
}
#navbar a{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    transition: color 0.3s;
}
#navbar a:hover{
    color: rgb(90, 120, 253);
}

@media screen and (min-width: 720px){
    header{
        width: 100%;
    }
    main{
        width: 720px;
        margin: 0 auto;
        padding: 20px;
    }
}

.boton-go-back{
    display: none;
    background-color: #20317c9a;  
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 40px;
    left: 40px;
    align-items: center;
    justify-content: center;
}
.boton-go-back svg{
    height: 40px;
    width: 40px;
    fill: white;
}
@media screen and (max-width: 760px){    
    .boton-go-back{
        display: flex;
    }
}


body main section{
    margin-top: 80px;
}

#mi-foto{
    border-radius: 50%;
    width: 150px;
}

.mi-nombre{
    font-size: 30px;
}

.personal-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#UBA-logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.info{
    height: 30px;
    width: 90px;
    background-color: rgb(158, 156, 156);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.info-icon{
    width: 20px;
    margin-left: 5px;
    margin-right: 7px;
    fill: white;
}
.info-text{
    font-size: 10px;
}
#cv-div{
    background-color: #bebebe;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
#cv-div:hover{
    background-color: #969696;
}
#cv-div .cv-icon{
    margin-left:  10px;
    height: 30px;
}
#cv-div #cv-text{
    color: #00051d;
    font-size: 15px;
    margin: 5px;
}



.titulo-section-div,
.titulo-article-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo-section-icon,
.titulo-article-icon{
    width: 50px;
    margin-left: 5px;
    margin-right: 15px;
    fill: white;
}
.titulo-section-text{
    font-size: 50px;
}
.titulo-article-text{
    font-size: 40px;
}


.proyecto-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
@media screen and (max-width: 550px){
    .proyecto-titulo{
        flex-direction: column;
    }   
    .proyecto-titulo .estado{
        align-self: self-end;
        margin-right: 30px;
    }
}
.proyecto-titulo .proyecto-text{
    font-size: 30px;
}
.proyecto-titulo .estado,
.proyecto-section .estado{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(230, 88, 88);
    border-radius: 15px;
    margin-left: 50px;
}
.proyecto-titulo .estado h2{
    font-size: 15px;
    color: black;
}

.proyecto-div-contenedor{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 10px;
}
@media screen and (max-width: 760px){
    .proyecto-div-contenedor{
        flex-direction: column;
        align-items: center;
    }
    main{
        margin-left: 15px;
    }
    .proyecto-info{
        max-width: 350px;
    }
    header{
        display: none;
    }
    .titulo-section-text{
        font-size: 40px;
    }
    .proyecto-text{
        font-size: 25px;
    }
    #mi-foto{
        width: 120px;
    }
}
.proyecto-img{
    width: 350px;
}
.proyecto-info{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 15px;
}
.proyecto-descripcion-text{
    font-size: 15px;
}
.proyecto-info ul{
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 15px;
}

.proyecto-lenguajes,
.lista-lenguajes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proyecto-lenguajes li,
.bj-lenguaje{
    background-color: rgb(15 23 42);
    height: 40px;
    min-width: 110px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proyecto-lenguajes li h2,
.bj-lenguaje h2{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
.proyecto-lenguajes svg, 
.bj-lenguaje svg{
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.proyecto-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.proyecto-botones li button{
    padding: 0;
}
.proyecto-botones li button,
.proyecto-botones li a,
.boton-codigo-pagina{
    background-color: rgb(201, 201, 201);
    height: 40px;
    min-width: 90px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    border:none;
    cursor: pointer;
}
/*      CAMBIAR LOS BOTONES DE CODIGO        */
.proyecto-botones li .boton-codigo-no-disponible{
    display: none;
}
.proyecto-botones li .boton-codigo-disponible{
    display: flex;
}
/*      CAMBIAR LOS BOTONES DE CODIGO        */
.proyecto-botones li button h2,
.proyecto-botones li a h2{
    font-family: 'FugazOne-Regular';
    font-size: 15px;
    color: #080f14;
    margin-left: 10px;
}
.proyecto-botones svg{
    height:  25px;
    margin-left: 5px;
    margin-right: 10px;
}
.popup-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.popup-container .popup {
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.315);
    text-align: center;
}
@media screen and (max-width: 900px){
    .popup-container .popup {
        width: 50%;
    }
    .popup-container .popup p{
        font-size: 10px;
        margin-top: 40px;
    }
}
.popup-container .popup .boton-cerrar-popup{
    width: 50px;
    height: 50px;
    background-color: #131c4e;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-container .popup .boton-cerrar-popup .icon{
    width: 40px;
    height: 40px;
    margin: 0;;
}
.popup-container .popup p{
    font-size: 20px;
    color: black;
}
.ocultar-popup {
    display: none;
}
.mostrar-popup{
    display: block;
}



.conocimientos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.conocimientos li{
    background-color: rgb(15 23 42);
    height: 40px;
    min-width: 110px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}
.conocimientos li h2{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
.conocimientos .icon{
    height:  30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#idiomas{
    margin-top: 40px;
}
.idiomas{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.idiomas li{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.idiomas li .titulo-idioma{
    display: flex;
    flex-direction: row;
}
.idiomas li .titulo-idioma h2{
    font-size: 25px;
}
.idiomas li .titulo-idioma .nivel-basico,
.idiomas li .titulo-idioma .nivel-intermedio-avanzado{
    background-color: rgb(197, 98, 52);
    width: fit-content;
    height: 20px;
    margin-left: 20px;
    color: black;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 6px 10px;
}
.idiomas li .titulo-idioma .nivel-basico{
    background-color: rgb(102, 192, 117);
}
.idiomas li p{
    margin-left: 15px;
    font-size: 15px;
}


.contacto-div-general{
    display: flex;
    flex-direction: column;
}
.contacto-div-general .seccion-mail{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.contacto-div-general .seccion-mail .mail{
    background-color: #0f172a;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: rgb(192, 192, 192) solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.contacto-div-general .seccion-mail .mail #mail{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 15px;
    font-family: Lato;
}
.boton{
    background-color: #bebebe;
    /*#7dd3fc*/
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.boton .icon{
    height: 25px;
    width: 25px;
}

.boton .tooltip{
    display: none;
    position: absolute;
    min-width: 110px;
    min-height: 30px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    margin-top: -30px;
    top: -20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'FugazOne-Regular';
    font-size: 15px;
}
#boton-copiar-mail #copiar-tooltip.tooltip-copiado{
    display: block;
    background-color: rgb(3, 90, 3)
}
#boton-enviar-mail.boton #enviar-tooltip{
    top: -20px;
}

.contacto-div-general .seccion-social{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contacto-div-general .seccion-social .redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.contacto-div-general .seccion-social .redes-sociales li{
    margin-right: 20px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social{
    background-color: #131c4e;
    height: 40px;
    min-width: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social .icon{
    height:  30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social h2{
    font-size: 20px;
    color: white;
    
}



/****************  BJ-mas-info.html  ***************/

.proyecto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 760px){    
    .proyecto-section{
        margin-top: 150px;
    }
}
.titulo-proyecto{
    font-size: 30px;
}
.proyecto-section .estado{
    margin: 0 0 10px 0;
    height: 20px;
}
.proyecto-section .estado h2{
    font-size: 10px;
}
.imagen-contenedor{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.main-img-proyecto{
    width: 100%;
}
.epigrafe{
    font-size: 10px;
    align-self: self-end;
}
.bj-lenguaje{
    margin: 0 10px;
}
.descripcion{
    font-size: 15px;
    margin-top: 20px;
}
.explicacion-actual{
    font-size: 13px;
    margin-top: 25px;
    line-height: 1.5;
}
.color1{
    color: #90a0ff;
}
.color2{
    color: #90ffba;
}

/****************  mas-personal-info.html  ***************/
.mas-personal-info-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media screen and (max-width: 760px){    
    .mas-personal-info-section{
        margin-top: 160px;
    }
}
#foto-yo{
    width: 250px;
    border-radius: 50%;
}
#nombre{
    font-size: 50px;
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#carrera{
    font-size: 16px;
}

.texto{
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.7;
    margin-top: 25px;
}
.lenguajes{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.lenguaje{
    width: fit-content;
    height: 20px;
    background-color: #bebebe;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}
.lenguaje .icon{
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
.lenguaje .lenguaje-text{
    margin-right: 10px;
    font-size: 15px;
    color: black;
}
.fotos-mini-proyectos{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 30px;
}
.mini-proyecto{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.img-mini-proyecto{
    width: 300px;
    box-shadow: 4px 4px 10px rgba(28, 84, 122, 0.39);  /* Sombra sutil */
}
@media (max-width: 720px){
    .fotos-mini-proyectos{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .mini-proyecto{
        margin-top: 20px;
        margin-right: 0px;
    }
}
.mas-personal-info-section .titulo-seccion{
    font-size: 30px;
}
.lenguajes-web{
    font-weight: bold;
}

.titulo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo-div .icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.pagina-img{
    width: 500px;
}
.boton-codigo-pagina{
    width: fit-content;
    padding-left: 10px;
    margin-top: 10px;
    align-self: center;
}
.boton-codigo-pagina .icon{
    height: 30px;
    width: 30px;
    margin: 0;
}
.proyectos-3d{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.proyectos-3d img{
    height: 300px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 10px rgba(28, 84, 122, 0.39);  /* Sombra sutil */
}
@media (max-width: 720px){
    .proyectos-3d{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .proyectos-3d img{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .pagina-img{
        width: 380px;
    }
}


.cuenta-ig-3d{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    margin-bottom: 40px;
    margin-top: 30px;
}
.cuenta-ig-3d .red-social{
    background-color: #131c4e;
    height: 40px;
    min-width: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}
.cuenta-ig-3d .red-social .icon{
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.cuenta-ig-3d h2{
    font-size: 20px;
    color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-right: 15px;
}





