html{
    font-size: 15px;
    background-color: black;
    /*user-select: none !important;*/
}


/****************    FUENTES    ****************/
@font-face {
    src: url(resources/fonts/FugazOne-Regular.ttf);
    font-family: 'FugazOne-Regular';
}
.FugazOne-Regular {
    font-family: 'FugazOne-Regular'
}

/*---------------    FUENTES    ---------------*/

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #0d2436;*/
    /*background-color: #020617;*/
    background-color: #00051d;
    z-index: -1;
}

body{
    color: white;
    font-family: 'FugazOne-Regular';
    /*font-family: Lato, system-ui, sans serif;*/
    font-weight: normal;
}

body h1{
    font-size: 20px;
    margin: 0px;
    font-weight: normal;
}

body h2{
    font-size: 16px;
    margin: 0px;
    font-weight: normal;
}

body a{
    text-decoration: none;
    color:inherit;
}

body svg{
    width: auto;
    height: auto;
}

.icon{
    width: 100%;
    height: 100%;
}

body ul{
    padding: 0px;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #07112c8a;
    border-radius: 25px;
    height: 30px;
    width: 560px;
}
#navbar a{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

@media screen and (min-width: 720px){
    header{
        width: 100%;
    }
    main{
        width: 720px;
        margin: 0 auto;
        padding: 20px;
    }
}

body main section{
    margin-top: 80px;
}

#mi-foto{
    border-radius: 50%;
    width: 150px;
}

.mi-nombre{
    font-size: 30px;
}

.personal-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#UBA-logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.info{
    height: 30px;
    width: 90px;
    background-color: rgb(158, 156, 156);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.info-icon{
    width: 20px;
    margin-left: 5px;
    margin-right: 7px;
    fill: white;
}
.info-text{
    font-size: 10px;
}
#cv-div{
    background-color: #bebebe;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
#cv-div:hover{
    background-color: #969696;
}
#cv-div .cv-icon{
    margin-left:  10px;
    height: 30px;
}
#cv-div #cv-text{
    color: #00051d;
    font-size: 15px;
    margin: 5px;
}



.titulo-section-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo-section-icon{
    width: 50px;
    margin-left: 5px;
    margin-right: 15px;
    fill: white;
}
.titulo-section-text{
    font-size: 50px;
}

.proyecto-text{
    font-size: 30px;
    margin-top: 20px;
}
.proyecto-div-contenedor{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 10px;
}
@media screen and (max-width: 760px){
    .proyecto-div-contenedor{
        flex-direction: column;
        align-items: center;
    }
    main{
        margin-left: 15px;
    }
    .proyecto-info{
        max-width: 350px;
    }
    header{
        display: none;
    }
    .titulo-section-text{
        font-size: 40px;
    }
    .proyecto-text{
        font-size: 25px;
    }
    #mi-foto{
        width: 120px;
    }
}
.proyecto-img{
    width: 350px;
}
.proyecto-info{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 15px;
}
.proyecto-descripcion-text{
    font-size: 15px;
}
.proyecto-info ul{
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 15px;
}

.proyecto-lenguajes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proyecto-lenguajes li{
    background-color: rgb(15 23 42);
    height: 40px;
    min-width: 110px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proyecto-lenguajes li h2{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
.proyecto-lenguajes svg{
    height:  30px;
    margin-left: 10px;
    margin-right: 10px;
}

.proyecto-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proyecto-botones li{
    background-color: rgb(201, 201, 201);
    height: 40px;
    min-width: 90px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.proyecto-botones li h2{
    font-size: 15px;
    color: #080f14;
    margin-left: 10px;
}
.proyecto-botones svg{
    height:  25px;
    margin-left: 5px;
    margin-right: 10px;
}


.conocimientos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.conocimientos li{
    background-color: rgb(15 23 42);
    height: 40px;
    min-width: 110px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}
.conocimientos li h2{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
.conocimientos .icon{
    height:  30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}



.contacto-div-general{
    display: flex;
    flex-direction: column;
}
.contacto-div-general .seccion-mail{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.contacto-div-general .seccion-mail .mail{
    background-color: #0f172a;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: rgb(192, 192, 192) solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.contacto-div-general .seccion-mail .mail #mail{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 15px;
    font-family: Lato;
}
.boton{
    background-color: #bebebe;
    /*#7dd3fc*/
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.boton .icon{
    height: 25px;
    width: 25px;
}

.boton .tooltip{
    display: none;
    position: absolute;
    min-width: 110px;
    min-height: 30px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    margin-top: -30px;
    top: -20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'FugazOne-Regular';
    font-size: 15px;
}
#boton-copiar-mail #copiar-tooltip.tooltip-copiado{
    display: block;
    background-color: rgb(3, 90, 3)
}
#boton-enviar-mail.boton #enviar-tooltip{
    top: -20px;
}

.contacto-div-general .seccion-social{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contacto-div-general .seccion-social .redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.contacto-div-general .seccion-social .redes-sociales li{
    margin-right: 20px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social{
    background-color: #131c4e;
    height: 40px;
    min-width: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social .icon{
    height:  30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.contacto-div-general .seccion-social .redes-sociales li .red-social h2{
    font-size: 20px;
    color: white;
    
}



/****************  BJ-mas-info.html  ***************/

.proyecto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.titulo-proyecto{
    font-size: 30px;
    margin-bottom: 10px;
}
.main-img-proyecto{
    max-width: 80%;
}
.descripcion{
    font-size: 15px;
    margin-top: 20px;
}

/****************  mas-personal-info.html  ***************/
.mas-personal-info-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#foto-yo{
    width: 250px;
    border-radius: 50%;
}
#nombre{
    font-size: 50px;
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#carrera{
    font-size: 16px;
}

.texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.7;
    margin-top: 25px;
}
.lenguajes{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.lenguaje{
    width: fit-content;
    height: 20px;
    background-color: #bebebe;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}
.lenguaje .icon{
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
.lenguaje .lenguaje-text{
    margin-right: 10px;
    font-size: 15px;
    color: black;
}
.fotos-mini-proyectos{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 30px;
}
.mini-proyecto{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.img-mini-proyecto{
    width: 300px;
}
@media (max-width: 720px){
    .fotos-mini-proyectos{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .mini-proyecto{
        margin-top: 20px;
        margin-right: 0px;
    }
}







